/* Styling for User input(book input) section */

.book-input-container {
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 40px;
    padding: 40px;
    text-align: center;
    background: rgba(220, 220, 220, 0.942);
    border-radius: 8px;
}

.find-book-title {
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 42px;
    font-weight: 750;
    text-align: center;
}

.find-book-subtitle {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

input {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 15px;
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}


.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}


