/*Background image and alignment(CSS)*/
body {
    background-image: url('./Vertical Cubes Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
  }
  
  .input-container {
    text-align: center;
    margin-top: 20%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: inline-block;
  }